<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,728},{258,230}}</string>
                <key>offset</key>
                <string>{15,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,204},{258,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,728},{374,184}}</string>
                <key>offset</key>
                <string>{35,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{374,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{376,184}}</string>
                <key>offset</key>
                <string>{36,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{376,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,364},{378,184}}</string>
                <key>offset</key>
                <string>{35,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,274},{378,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,550},{382,176}}</string>
                <key>offset</key>
                <string>{35,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,275},{382,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{382,180}}</string>
                <key>offset</key>
                <string>{36,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,274},{382,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,184},{382,178}}</string>
                <key>offset</key>
                <string>{35,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,275},{382,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{378,184}}</string>
                <key>offset</key>
                <string>{34,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,267},{378,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,194}}</string>
                <key>offset</key>
                <string>{34,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,260},{380,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{380,190}}</string>
                <key>offset</key>
                <string>{35,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,253},{380,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{380,182}}</string>
                <key>offset</key>
                <string>{34,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{380,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,914},{46,46}}</string>
                <key>offset</key>
                <string>{48,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,321},{46,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,914},{42,42}}</string>
                <key>offset</key>
                <string>{48,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,304},{42,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,914},{36,36}}</string>
                <key>offset</key>
                <string>{48,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,289},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,364},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,482},{232,244}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,246},{242,234}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,177},{242,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{252,242}}</string>
                <key>offset</key>
                <string>{14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,183},{252,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_dead0.png</string>
            <key>size</key>
            <string>{1022,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3939856811c3fa7cb40c6153331820a:1/3$</string>
            <key>textureFileName</key>
            <string>zhangfei_dead0.png</string>
        </dict>
    </dict>
</plist>
