<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,236},{166,174}}</string>
                <key>offset</key>
                <string>{-8,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,304},{166,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,614},{290,180}}</string>
                <key>offset</key>
                <string>{21,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,276},{290,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,622},{302,192}}</string>
                <key>offset</key>
                <string>{22,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,260},{302,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,412},{314,200}}</string>
                <key>offset</key>
                <string>{30,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,247},{314,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,410},{324,210}}</string>
                <key>offset</key>
                <string>{33,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,234},{324,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{332,228}}</string>
                <key>offset</key>
                <string>{35,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,221},{332,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{338,222}}</string>
                <key>offset</key>
                <string>{37,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,226},{338,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,218}}</string>
                <key>offset</key>
                <string>{36,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,231},{346,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,202},{352,206}}</string>
                <key>offset</key>
                <string>{37,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,244},{352,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{360,198}}</string>
                <key>offset</key>
                <string>{37,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,259},{360,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{210,232}}</string>
                <key>offset</key>
                <string>{17,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,229},{210,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{354,132}}</string>
                <key>offset</key>
                <string>{22,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,266},{354,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_dead2.png</string>
            <key>size</key>
            <string>{985,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3939856811c3fa7cb40c6153331820a:3/3$</string>
            <key>textureFileName</key>
            <string>zhangfei_dead2.png</string>
        </dict>
    </dict>
</plist>
