<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,192},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,758},{162,186}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,570},{162,186}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{162,188}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,192},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,758},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,570},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{162,186}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{164,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,382},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,382},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_normal.png</string>
            <key>size</key>
            <string>{494,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa4715ecb39f331d45cf8fcde5c1d0c2:1/1$</string>
            <key>textureFileName</key>
            <string>zhangfei_normal.png</string>
        </dict>
    </dict>
</plist>
