<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{268,232}}</string>
                <key>offset</key>
                <string>{16,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,224},{268,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,476},{276,214}}</string>
                <key>offset</key>
                <string>{18,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,245},{276,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,692},{174,206}}</string>
                <key>offset</key>
                <string>{3,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,275},{174,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{364,182}}</string>
                <key>offset</key>
                <string>{35,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,274},{364,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,558},{366,182}}</string>
                <key>offset</key>
                <string>{34,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,273},{366,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,374},{368,182}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,275},{368,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,188},{370,184}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,274},{370,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{372,184}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{372,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{372,184}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{372,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,176}}</string>
                <key>offset</key>
                <string>{32,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,239},{374,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{370,176}}</string>
                <key>offset</key>
                <string>{30,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,232},{370,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,742},{222,232}}</string>
                <key>offset</key>
                <string>{24,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,210},{222,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{368,178}}</string>
                <key>offset</key>
                <string>{29,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,231},{368,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,900},{110,116}}</string>
                <key>offset</key>
                <string>{22,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,272},{110,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{102,114}}</string>
                <key>offset</key>
                <string>{23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,264},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,742},{220,236}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,186},{220,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,236},{222,238}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,178},{222,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_dead1.png</string>
            <key>size</key>
            <string>{1022,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3939856811c3fa7cb40c6153331820a:2/3$</string>
            <key>textureFileName</key>
            <string>zhangfei_dead1.png</string>
        </dict>
    </dict>
</plist>
