<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg_iPhone5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,639}}</string>
                <key>sourceSize</key>
                <string>{640,639}</string>
            </dict>
            <key>Bg_iPhone5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{640,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,204}}</string>
                <key>sourceSize</key>
                <string>{640,204}</string>
            </dict>
            <key>Bg_iPhone5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{640,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,204}}</string>
                <key>sourceSize</key>
                <string>{640,204}</string>
            </dict>
            <key>Bg_iPhone5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{640,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,87}}</string>
                <key>sourceSize</key>
                <string>{640,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg_iphone.png</string>
            <key>size</key>
            <string>{644,1144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a7a2f5c900e13e2f6bc8d88b5383ae1:1/1$</string>
            <key>textureFileName</key>
            <string>bg_iphone.png</string>
        </dict>
    </dict>
</plist>
